<h1>Preguntas</h1>

<div class="form-group">
  <label for="text">Ingresa el texto</label>
  <textarea [(ngModel)]="text" id="text"></textarea>
</div>

<div class="form-group" *ngFor="let question of questions; let indexOfElement=index;">
  <label for="question">Pregunta {{indexOfElement+1}}</label>
  <input type="text" id="question" [(ngModel)]="questions[indexOfElement].text" />
</div>

<div class="form-group">
  <button (click)="addQuestion()">Agregar pregunta</button>
</div>

<div class="form-group">
  <button (click)="getPredictions()">Obtener predicciones</button>
</div>

<hr/>

<h1>Predicciones</h1>

<div class="form-group" *ngFor="let prediction of predictions">
  <label>Pregunta: {{prediction.question}}</label>
  <br />
  <label>Respuesta: {{prediction.answer}}</label>
</div>
